/* ELEMENT SECTORS */
body {
    background-image: url('https://github.com/LemuelVelez/LEM-TEASHOP/blob/main/images/pexels-i%C5%9F%C4%B1l-8109358.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

div {
    background-color: rgb(228, 202, 168);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* CLASSNAME SELECTORS */

.teaMenu {
    background-color: rgb(228, 202, 168);
}

.teaItem p{
    background-color: greenyellow;
    display: inline-block;
}

.teaFlavor {
    text-align: left;
    width: 50%;
}

.teaPrice {
    text-align: right;
    width: 49%;
}

